# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
basic.json
basic.p4info
*.log

# Data outputs
control_plane/dataset/*.csv

# Mininet / runtime
*.pcapng
*.swp
